footer {
    width: 100%;
    background: #F1F1F1;
    padding: 32px 8px;
    text-align: center;
}
.footer__headline{
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
}
.footer__paragraph{
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    margin-top: 16px;
}
.footer__icons ul{
    display: flex;
    gap: 24px;
}
.footer__content-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.last-paragraph{
    margin-top: 24px;
}

@media (min-width: 768px) {
    footer {
        padding: 32px 12px;
    }
    .footer__items-first{
        display: flex;
        flex-direction: column;
        width: 306px;
        height: 93px;
        text-align: start;
    }
    .footer__items-second{
        display: flex;
        flex-direction: column;
        width: 306px;
        height: 93px;
        text-align: end;
        justify-content: space-between;
    }
    .footer__paragraph{
        text-align: start;
    }
    .footer__content-container{
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: space-between;
    }
}

@media (min-width: 1368px) {
    footer {
        padding: 64px 32px;
    }
    .footer__content-container{
        max-width: 1296px;
        margin: 0 auto;
    }
}
